POSTGRES_URL=postgres
POSTGRES_PASSWORD=example_password
POSTGRES_DB=nakama
POSTGRES_SHARED_BUFFERS=256MB
POSTGRES_EFFECTIVE_CACHE_SIZE=768MB
POSTGRES_WORK_MEM=4MB
POSTGRES_MAINTENANCE_WORK_MEM=64MB
POSTGRES_MAX_CONNECTIONS=20
USER_EMAIL=me@example.com